.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // justify-content: center;
  margin-top: 20px;
  margin-left: 65px;
}

.title {
  width: 100%;
  color: #d8ae15;
  display: flex;
  font-size: xx-large;
  // margin-left: 75px;
}
