<div class="table">
  <div class="cell">
    <mat-card class="example-card">
      <div class="paragraph">
        <img
          class="imdb-logo"
          src="..\assets\imdb_fb_logo-1730868325._CB514892123_.png"
          alt="imdb.com logo"
        />
      </div>
      <div class="paragraph">
        Reset Password
      </div>
      <form action="">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="resetData.password"
              [formControl]="password"
              matInput
              required
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error *ngIf="password.invalid">{{
              getPasswordErrorMsg()
            }}</mat-error>
          </mat-form-field>
          <div class="button">
            <button
              mat-raised-button
              color="primary"
              [disabled]="getPasswordErrorMsg() != ''"
              (click)="save()"
            >
              Continue
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
