<div class="table">
  <div class="cell">
    <mat-card class="example-card">
      <div class="paragraph">
        <img
          class="imdb-logo"
          src="..\assets\imdb_fb_logo-1730868325._CB514892123_.png"
          alt="imdb.com logo"
        />
      </div>

      <div class="paragraph">
        Forgot Password
      </div>

      <form action="">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              [formControl]="email"
              matInput
              [(ngModel)]="forgotData.email"
              autocomplete="off"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
          <div class="button">
            <button
              mat-button
              class="buttons"
              color="primary"
              [disabled]="getErrorMessage() != ''"
              (click)="continue()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
