<span class="title">
  <mat-icon class="icon">brightness_1</mat-icon>
  What is IMDB?</span
>
<app-help-center-display
  [imdb]="what_is_imdb"
  class="display-help"
></app-help-center-display>

<span class="title">
  <mat-icon class="icon">brightness_1</mat-icon>
  Why should I register on IMDb?</span
>
<app-help-center-display
  [register]="how_to_register"
  class="display-help"
></app-help-center-display>

<span class="title">
  <mat-icon class="icon">brightness_1</mat-icon>
  How can I delete my IMDb account?</span
>
<app-help-center-display
  [delete]="delete_imdb_account"
  class="display-help"
></app-help-center-display>

<div class="button">
  <button mat-button class="buttons">
    Contact Us
  </button>
</div>
