::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 500px;
  height: fit-content;
  min-height: inherit;
  max-height: inherit;
  background-color: #1b1919;
}

.example-card {
  background-color: #1b1919;
}

.actors-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.actor {
  width: 355px;
  display: flex;
  align-items: center;
  outline: none;
}

.fields {
  font-size: larger;
  color: white;
}

.details {
  display: flex;
  margin-bottom: 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

::ng-deep .mat-radio-outer-circle {
  box-sizing: border-box;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-color ease 280ms;
  width: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
}

.button {
  color: white;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
}

.actor-sex {
  width: 355px;
  display: flex;
  align-items: center;
  color: white;
}
